.daysPicker {
  border: 1px solid black;
  width: 320px;
  margin: 0 auto;

  .daysPicker__container {
    .daysPicker__header {
      display: flex;
      justify-content: space-between;
    }

    .daysPicker__weekDays, .daysPicker__days {
      display: flex;
      flex-flow: row wrap;

      > div {
        flex: 1 0 14%;
      }
    }
  }
}
