#app {
  font-family: 'Roboto', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
  min-height: calc(100vh - 116px);
}

.arrow {
  border: solid #555;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.form-arrow {
  background: #555;
  height: 2px;
  width: 30px;
  margin: 0 auto;
  position: relative;

  &:before,
  &:after {
    content: '';
    background: #555;
    position: absolute;
    height: 2px;
    width: 12px;
  }

  &:before {
    right: -3px;
    bottom: -4px;
    transform: rotate(-45deg);
  }

  &:after {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
  }
}
